.main_chat
  .main_chat__header
    .main_chat__header__leftbox
      .main_chat__header__leftbox__current-group
        = @group.name
      %ul.main_chat__header__leftbox__member-list
        Member:
        %li.main_chat__header__leftbox__member-list__member
          = @group.users.pluck(:name).join(',')
    .main_chat__header__edit-btn
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit

  .messages
    = render @messages

  .main_chat__form
    = form_for [@group, @message], html: {class: "new-message"} do |f|
      .form__mask
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'